*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%
    
}

body{
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* HEADER */

.header{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141414;
}

h1{
    text-align: center;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: .7rem;
}

h1 > span{
    color: #0D99FF;
}


/* MAIN */

main{
    background-image: url('images/montainFumigation.jpg');
    background-size: cover;
    /* background-position: center; */
    position: relative;
    z-index: 0; /*con esto digo que pertenece a la capa 0*/
    
    color: white;
}

main::before{
    content: ""; /* Crea un pseudo-elemento para superponer */
    background-color: rgba(0, 0, 0, 0.8); /* Color negro semitransparente */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /*con esto digo que esta detras de la capa 0*/
} 

h2{
    padding: 15px 0px;
    font-size: 3rem;
    font-weight: bold;
}

h2 + p{
    font-size: .7rem;
    text-align: center;
    margin-bottom: 20px;
    width: 87%;
}

main > article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-learn{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.shop-learn button{
    background-color: rgba(255, 255, 255, 0); /* Color de fondo transparente */
    color: white;
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 2px;
    font-weight: bold;
}



.shop-learn button:first-child{
    background-color: #0D99FF;
}

.shop-learn button:hover{
    background-color: #111111;
}

.shop-learn button:first-child:hover{
    background-color: #0d4aff; 
}

/* ABOUT */

#about > section > article > img{
    display: none; /*desaparecemos la imagen del dron en movil*/
}

#about{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    color: white;
    border: none;
}

h3{
    text-align: center;
    font-size: 2.2rem;
}

h3 > span {
    color: #0D99FF;
}

h3 ~ p{
    font-size: .8rem;
    width: 70%;
    text-align: center;
    padding: 5px;
}

#about > section article:last-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#about article{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.info-espec-dron{
    flex: 1 1 50%; /* Para que ocupen el 50% del ancho */
    padding: 10px; /* Espaciado entre los artículos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-espec-dron p:first-child{
    font-size: 1.5rem;
    font-weight: bold;
}

.info-espec-dron p > span, .info-espec-dron p:last-child {
    font-size: .8rem;
    font-weight: 100;
}


/* SALE NOW */

body > aside{
    background-image: url('images/montainSaleNOW.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body > aside::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h4{
    font-size: 2.2rem;
    text-align: center;
}

h4 > span{
    color: #0D99FF;
}

h4 + p{
    font-size: .8rem;
    width: 70%;
    text-align: center;
    padding: 5px;
}

#dia-salida{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.conteo-dia{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.conteo-dia span{
    font-size: 0.7rem;
    font-weight: 100;
    vertical-align: top;
}

#dia-salida + section{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

svg{
    fill: white;
    width: 20px;
    height: 20px;
}

/* CONTACT */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    color: white;
}

h5{
    font-size: 2rem;
    /* font-weight: bold; */
    text-align: center;
    margin: 10px 0px;
}

h5 > span{
    color: #0D99FF;
}

td{
    padding: 10px;
}


#contact > aside{
    background-color: #333333;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    padding: 15px;
}

.form-text{
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    background-color: #111111;
    border: none;
}

.formulario textarea{
    background-color: #111111;
    border: none;
}

.form-submit{
    width: 100%;
    height: 30px;
    background-color: #0D99FF;
    color: white;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 5px;
}


/* FOOTER */

.head-footer{
    background-color: #333333;
}

.footer-copy{
    border-top: 0.1px solid #848484;
    background-color: #333333;
    color: white;
    padding: 15px 0px;
    text-align: center;
    font-size: .6rem;
}

img{
    width: 250px;
}
iframe{
    width: 100%;
    height: 300px;
}
